@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-principal: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-principal);
}

.body{
    background-color: #FAF8ED;
;
}

.fundo{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #FAF8ED;
}

.abatheOffice{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  top: 0;
  min-height: 6vh;
  background-color: #684b37;
  z-index: 99;
  border-radius: 0 0 15px 15px;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  background-color: #684b37;
  list-style: none;
  gap: 10px;
}

.header ul li a{
  font-size: 22px;
  font-weight: 400px;
  color: white;
  text-decoration: none
}

.imgFundo {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/imgs/fundoquiz.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.abaImg{
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  height: 8vh;
  width: 20vw;
  left: 29px;
  bottom: 0;
  background-color: #684b37;
  border-radius: 15px 15px 0px 0;
}

.aba {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 8vh;
  width: 20vw;
  left: 29px;
  bottom: -30%;
  background-color: #BC9C80;
  border-radius: 15px 15px 0px 0;
}

.aba p {
  color: white;
  font-weight: bold;
  font-size: 22px;
  font-family: var(--font-principal);
}

.fechamentoAba1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 6vh;
  width: 100%;
  background-color: #BC9C80;
}

.resultado{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #FAF8ED;
  position: relative;
  margin-top: 5%;
  position: relative;
}

.textos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FAF8ED;
}

.centralizacaoJim{
  width: 50%; 
  margin: auto;
  margin-bottom: 6%;
}

.centralizacaoProf{
  width: 50%; 
  margin: auto;
}

.textos h3{
  color: #684B37;
  font-size: 33px;
  margin-bottom: 10px;
}

.textos p{
  color: #684B37;
  font-size: 16px;
  justify-content: center;
}

.personagem{
  position: relative;
}

.personagem img{
  height: 90vh;
}

.fechamentoAba2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 6vh;
  width: 100%;
  background-color: #BC9C80;  
  position: relative;
}

.preFooter{
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.abaFooter{
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  height: 8vh;
  width: 20vw;
  left: 29px;
  bottom: 0;
  background-color: #684b37;
  border-radius: 15px 15px 0px 0;
}    
.footer p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}

.footer{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25vh;
  width: 100%;
  background-color: #684B37;
}



